.component {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
}

.result-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.case {
    flex: 7;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    min-width: 320px;
}

.link-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link {
    margin-right: auto;
}

.date {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.votes {
    flex: 3;
    display: flex;
    flex-direction: row;
}

.parties {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 1px;
}

.bar {
    min-width: 10px;
    position: relative;
}

.yays {
    background-color: #00FF00;
}

.nays {
    background-color: #FF0000;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.collapse {
    margin-left: auto;
}

.share {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}


.mark {
    background-color: none;
    background: linear-gradient(90deg, #FFC107 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
}

.party {
    position: relative;
}

.party-name {
    padding-left: 1em;
    text-indent: -1em;
}

.voting-bar {
    flex: 1;
}

.bar-votes {
    width: 100%;
    text-size-adjust: 100%;
}

.bar-votes.yay {
    border-right: 1px dotted black;
    text-align: left;
}

.bar-votes.nay {
    text-align: right;
}

.size-hover {
    display: none;
    position: absolute;
    background-color: white;
    top: 0;
    border: 1px solid black;
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
    z-index: 1;
}

.party-name:hover+.size-hover {
    display: block;
    right: 0;
}

.mistake {
    text-decoration: line-through;
}