.group {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

.filter-tabs {
    display: flex;
    justify-content: flex-start;
}

.filter-tab-item {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border: 1px dashed black;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.search-button {
    background-color: green;
    border-radius: 50px;
    width: 200px;
    height: 40px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
}