<div class="header">
    <div class="left-side">
        <a class="nav-item home" routerLinkActive="active-link" routerLink=""
            [routerLinkActiveOptions]="{ exact: true }">
            <app-logo></app-logo>
            <h3>Uitslagen</h3>
        </a>
    </div>
    <div class="nav-bar">
        <div class="center-side">
            <a routerLinkActive="active-link" class="nav-item" routerLink="/filter">
                Filter
            </a>
            <a routerLinkActive="active-link" class="nav-item" routerLink="/zoek">
                Zoek
            </a>
            <a routerLinkActive="active-link" class="nav-item" routerLink="/mee-stemmers">
                Mee-stemmers
            </a>
            <a routerLinkActive="active-link" class="nav-item" routerLink="/verschillen">
                Verschillen
            </a>
            <a routerLinkActive="active-link" class="nav-item" routerLink="/beslisser">
                Beslisser
            </a>
        </div>

        <div class="right-side">
            <a routerLinkActive="active-link" class="nav-item" routerLink="/disclaimer">
                Disclaimer
            </a>
            <a routerLinkActive="active-link" class="nav-item" routerLink="/over">
                Over
            </a>
        </div>
    </div>
</div>