.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: stretch;
    gap: 4px;
    width: 100%;
}

.left-side {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.center-side {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.right-side {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.nav-item {
    all: unset;
    padding: 10px;
}

.nav-item:hover {
    cursor: pointer;
}

.active-link {
    background-color: rgb(217, 223, 223);
    /* border-radius: 50%; */
    text-decoration: underline;
}

.active-link:hover {
    cursor: auto !important;
}

.home {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-flow: row wrap;
}