<div class="nav-bar">
    <div class="left-side">
        <a class="nav-item home" routerLinkActive="active-link" routerLink=""
            [routerLinkActiveOptions]="{ exact: true }">
            <app-logo></app-logo>
            <h3>Resultaten </h3>
        </a>
    </div>

    <div class="right-side">
        <a routerLinkActive="active-link" class="nav-item" routerLink="/disclaimer">
            <h3>Disclaimer </h3>
        </a>
        <a routerLinkActive="active-link" class="nav-item" routerLink="/over">
            <h3>Over</h3>
        </a>
    </div>
</div>