<div class="fcc gap">
    <div class="fcc gap">
        <h2>Mee stemmende partijen per ingediende zaak</h2>
        Op deze pagina kunt u een overzicht zien van alle partijen in een geselecteerde periode. Per partij ziet u dan
        hoeveel zaken zijn ingediend (ook mede-ingediend) en hoe vaak andere partijen voor en tegen hebben gestemd.
        <br>
        Let op, het kan even duren voordat alles is opgehaald.
    </div>
    <hr style="width: 100%;">
    <div>
        <app-period-picker [(start)]="periodStart" [(end)]="periodEnd"></app-period-picker>
    </div>
    <app-collapse [title]="'Type zaken'">
        <app-case-type-picker></app-case-type-picker>
    </app-collapse>
    <div class="frc">
        <button [disabled]="polling" class="btn btn-prim" [ngClass]="{'disabled': polling}"
            (click)="search()">Genereer</button>
    </div>
    <div class="frc" *ngIf="totalCount">Aantal datapunten: {{totalCount}}</div>
    <div class="fcc" *ngIf="polling">
        <div class="frc">Bezig met ophalen van de resultaten, dit kan even duren.</div>
        <div class="frc" *ngIf="amountPolled">Aantal data opgehaald: {{amountPolled}}/{{totalCount}}</div>
        <app-loading-spinner></app-loading-spinner>
    </div>
    <!-- Haal alle zaken op -->
    <div class="ffrwc gap" *ngIf="data">
        <div *ngFor="let p of data" class="fcc" style="width: 410px;" [style]="{order: -1 * p.petitioned}">
            <app-vote-along-result [data]="p"></app-vote-along-result>
        </div>
    </div>
    <app-cors-error *ngIf="!totalCount"></app-cors-error>
</div>