<div class="fcc gap">
    <div class="fcc gap">
        <h2>Mee stemmende partijen per ingediende zaak</h2>
        Op deze pagina kunt u een overzicht zien van alle partijen in een geselecteerde periode.
        Per partij ziet u dan hoeveel zaken zijn ingediend (ook mede-ingediend) en hoe vaak andere partijen voor en
        tegen hebben gestemd.
    </div>
    <hr style="width: 100%;">
    <div>
        <app-period-picker [(start)]="periodStart" [(end)]="periodEnd"></app-period-picker>
    </div>
    <app-collapse [title]="'Type zaken'">
        <app-case-type-picker></app-case-type-picker>
    </app-collapse>
    <div class="frc">
        <button [disabled]="polling" class="btn btn-prim" [ngClass]="{'disabled': polling}"
            (click)="search()">Genereer</button>
    </div>
    <div class="frc" *ngIf="totalCount">Aantal datapunten: {{totalCount}}</div>
    <div class="fcc" *ngIf="polling">
        <div class="frc">Bezig met ophalen van de resultaten, dit kan even duren.</div>
        <div class="frc" *ngIf="amountPolled">Aantal data opgehaald: {{amountPolled}}/{{totalCount}}</div>
        <app-loading-spinner></app-loading-spinner>
    </div>
    <!-- Haal alle zaken op -->
    <div class="ffrwc" *ngIf="data && ready">
        <div *ngFor="let p of data | keyvalue" class="fcc" style="width: 410px;"
            [style]="{order: -1 *getAllSignedCasedOf(p.value, p.key)}">
            <div class="party-actor">{{getFractionName(p.key)}} - {{p.value[p.key].helped}}</div>
            <div class="fc">
                <div *ngFor="let r of p.value| keyvalue" class="fr party-row"
                    [style]="{order:-1*(r.value.agreed-r.value.disagreed)}">
                    <div class="party-name">{{getFractionName(r.key)}}</div>
                    <div class="fr bars">
                        <div *ngIf="r.value.agreed > 0"
                            [ngStyle]="{'width':( r.value.agreed / (r.value.agreed+r.value.disagreed+ r.value.notVoted )* 100).toString() + '%'}"
                            class="bar frc green">{{r.value.agreed}}</div>
                        <div *ngIf="r.value.disagreed > 0"
                            [ngStyle]="{'width':( r.value.disagreed / (r.value.agreed+r.value.disagreed+ r.value.notVoted )* 100).toString() + '%'}"
                            class="bar frc red">{{r.value.disagreed}}</div>
                        <div *ngIf="r.value.notVoted > 0"
                            [ngStyle]="{'width':( r.value.notVoted / (r.value.agreed+r.value.disagreed+ r.value.notVoted )* 100).toString() + '%'}"
                            class="bar frc grey">{{r.value.notVoted}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-cors-error *ngIf="!totalCount"></app-cors-error>
</div>