<div class="fcc gap">
    <div class="fcc gap">
        <h2>Verschillen tussen 2 Fracties</h2>
        Op deze pagina kunt u de periode kiezen en 2 fracties selecteren. Wanneer u daarna op de knop klikt, worden alle
        uitslagen opgehaald. Nadat de gegevens zijn opgehaald, kunt u per kamerstukdossier, een soort onderwerp, zien
        waar deze 2 partijen verschillend hebben gestemd.
        <br>
        Let op, het kan even duren voordat alles is opgehaald.
    </div>
    <hr style="width: 100%;">

    <app-period-picker [(start)]="periodStart" [(end)]="periodEnd"
        (update)="updateAvailableParties()"></app-period-picker>
    <div class="ffrwc gap">
        <div class="ffrwc l-gap">
            <div>Kies partij: </div>
            <div>
                <app-party-picker [disabledIds]="[partyBId!]" [parties]="parties"
                    (change)="setA($event)"></app-party-picker>
            </div>
        </div>
        <div class="ffrwc l-gap">
            <div>Kies partij: </div>
            <div>
                <app-party-picker [disabledIds]="getDisabledB()" [parties]="parties"
                    (change)="setB($event)"></app-party-picker>
            </div>
        </div>
    </div>
    <app-collapse [title]="'Type zaken'">
        <app-case-type-picker></app-case-type-picker>
    </app-collapse>
    <div class="frc">
        <button [disabled]="!(partyAId && partyBId)" [ngClass]="{'btn-disabled': !(partyAId && partyBId)}"
            class="btn btn-prim" (click)="getDifferences()">Laat verschillen
            zien.</button>
    </div>

    <app-cors-error *ngIf="parties.length == 0"></app-cors-error>
    <div class="fcc" style="padding:8px" *ngIf="totalCount || polling">
        <div *ngIf="totalCount" class="frc">
            Totaal aantal zaken met verschil: {{totalCount}}
        </div>
        <div class="frc" *ngIf="totalCasesNoDifference">Totaal aantal zaken behandeld door de 2e kamer:
            {{totalCasesNoDifference}} (Met de huidige filters)
        </div>
        <div class="fcc" *ngIf="polling">
            <div class="frc">Bezig met ophalen, data opgehaald: {{retrievedCount}}/{{totalCount}}</div>
            <app-loading-spinner></app-loading-spinner>
        </div>
    </div>

    <div class="ffrwc" style="padding:8px">
        <div class="fcc" style="width: 100%; margin-bottom: 8px;" [style]=" {order:-1*k.value.decisions.length}"
            *ngFor="let k of data | keyvalue">
            <app-collapse>
                <div id="title" style="width: 100%;">
                    <div class="fcc l-gap">
                        <div class="frc">
                            <h3 style="margin-bottom: 1px; margin-top: 0.2em;">{{k.value.caseSubject.Titel}}</h3>
                            <!-- <span>({{k.value.decisions.length}})</span> -->
                        </div>
                        <div class="frc l-gap">
                            <div>Voor: </div>
                            <div>{{this.getPartyName(this.usedPartyAId)}}</div>
                            <div>
                                {{this.getNumberOfSided(true, this.usedPartyAId, k.value.decisions)}}
                                -
                                {{this.getNumberOfSided(false, this.usedPartyAId, k.value.decisions)}}
                            </div>
                            <div>{{this.getPartyName(this.usedPartyBId)}}</div>
                        </div>
                    </div>
                </div>
                <div class="fc" style="gap: 4px;">
                    <app-collapse *ngFor="let d of k.value.decisions">
                        <div id="title" style="width: 100%;">
                            <div class="fcc l-gap">
                                <div class="frc">
                                    <p style="margin-bottom: 1px; margin-top: 0.2em;">{{d.Zaak[0].Onderwerp}}</p>
                                </div>
                                <div class="frc l-gap">
                                    <small>{{getTitle(d)}}</small>
                                </div>
                            </div>
                        </div>
                        <app-result [highLighted]="getHighLighted()" [result]="d"></app-result>
                    </app-collapse>
                </div>
            </app-collapse>
        </div>
    </div>
</div>