<app-content>
    <h2>Over deze website</h2>
    <p>
        Met deze website kunt u kijken hoe de 2e kamer partijen hebben gestemd in de afgelopen periode.
        Door de stem resultaten te vergelijken in de afgelopen periode kunt u beter een keus maken en zien of de partij
        ook echt stemt zoals deze spreekt.
        <br>
        Ik hoop dat deze website helpt met het maken van een betere stemkeus wanneer u twijfelt tussen meerder partijen.
    </p>
    <div>
        <app-open-api-disclaimer></app-open-api-disclaimer>
    </div>
    <p>
        Als er problemen zijn kunt u een <a target="_blank"
            href="https://github.com/ikjelle/ikjelle.github.io/issues">Issue</a>
        aanmaken op Github.
    </p>

    <p>
        Deze website is volledig Open-Source en de source code kunt u vinden op
        <a href="https://github.com/ikjelle/ikjelle.github.io"
            target="_blank">https://github.com/ikjelle/ikjelle.github.io</a>.
    </p>
</app-content>