<app-content>
    <h2>Over deze website</h2>
    <p>Welkom op deze website waarmee u kunt zien hoe partijen in de Tweede Kamer hebben gestemd in de afgelopen
        periode.
        Door de stemresultaten te vergelijken, kunt u een weloverwogen keuze maken en zien of een partij daadwerkelijk
        handelt zoals deze belooft.</p>
    <p>Ik hoop dat deze website u zal helpen bij het maken van een betere stemkeuze, vooral als u twijfelt tussen
        meerdere
        partijen.</p>
    <div>
        <app-open-api-disclaimer></app-open-api-disclaimer>
    </div>
    <p>De volledige broncode van deze website is open-source en te vinden op
        <a target="_blank" href="https://github.com/ikjelle/ikjelle.github.io">
            https://github.com/ikjelle/ikjelle.github.io</a>.
    </p>

</app-content>