.page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: stretch;
}

.header {}

.content {
    width: 100%;
}

.content-width {
    max-width: 850px;
    margin: auto;
    padding: 8px;
}

.footer {
    margin-top: auto;
}