<app-content>
    <h2>Disclaimers</h2>
    <app-open-api-disclaimer></app-open-api-disclaimer>
    <app-cors-error></app-cors-error>
    <p>
        De geselecteerde partijen waarmee u kunt filteren zijn alle partijen die na de verkiezingen van 2021 actief zijn
        gebleven. Oudere partijen kunnen dus blijven bestaan.
    </p>
    <p>
        Er is momenteel geen datumlimiet voor de resultaten. Dit betekent dat oudere gegevens door de filters kunnen
        komen. Let
        daarom op de datum van de resultaten.
    </p>
    <p>
        Er zijn veel besluitvormingsprocessen, waarvan degenen zonder resultaat zijn verwijderd. Het is echter mogelijk
        dat deze
        in de toekomst worden gebruikt. Onze excuses als dit gebeurt.
    </p>
</app-content>