<app-content>
    <h2>Disclaimers</h2>
    <app-open-api-disclaimer></app-open-api-disclaimer>
    <app-cors-error></app-cors-error>
    <p>De reden dat CORS uitgeschakeld moet worden is omdat er direct tegen de API gepraat wordt en ik geen server heb
        om dit te "omzeilen".</p>
    <p>
        De gekozen partijen waar u mee kunt filteren zijn alle partijen die niet gestopt zijn na de verkiezingen van
        2021.
        Dit betekent dat oudere partijen kunnen blijven bestaan.
    </p>
    <p>
        Er is (nog) geen datum limiet voor de resultaten. Dit betekent dat oude data door de filters heen kan komen. Dus
        let op de datum van de resultaten.
    </p>
    <p>
        Er zijn veel besluitvormen. Alle vormen zonder resultaat zijn er uitgehaald, maar het is goed mogelijk dat deze
        in de toekomst gebruikt kan worden (Excuses mocht dit gebeuren)
    </p>
</app-content>