<div class="collapse">
    <div class="title" (click)="collapseComponent()">
        <div style="width: 80%;">
            <ng-content *ngIf="!title" select="[id=title]"></ng-content>
            <span *ngIf="title" [innerHTML]="title"></span>
        </div>
        <div class="icon" *ngIf="collapsed; else close">
            &#x25BD;
        </div>
        <ng-template #close>
            <div class="icon">
                &#x25B3;
            </div>
        </ng-template>
    </div>
    <div class="content" *ngIf="!collapsed">
        <ng-content></ng-content>
    </div>
</div>