.collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 12px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    text-align: center;
}

.icon {
    font-size: x-large;
}

.content {
    padding: 8px;
}